---

import MainLayout from '../../layouts/MainLayout.astro';




export async function getStaticPaths() {
  const data = await fetch("https://innnjxyaqyjceucizpxl.supabase.co/rest/v1/products", {
    method:"GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlubm5qeHlhcXlqY2V1Y2l6cHhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI1MzM3NDQsImV4cCI6MjA0ODEwOTc0NH0.j0GJ0nKDs09Qd39B_PxaBwDX69ZrOxYTNXPoTfzAWbI"
    },
}).then(response => response.json());

  return data.map((product) => {
    return {
      params: { slug: product.slug },
      props: { myData:product },
    };
  });
}

const {myData} = Astro.props;
console.log(myData);

---

<MainLayout title={myData.name}> 
   <h1 class="text-blue-500 font-mont font-medium text-[40px] flex justify-center items-center">{myData.name}</h1>

  <div class="md:grid md:grid-cols-2">
    <div>
  <section class="mx-12">
  <article class="grid grid-cols-1 justify-items-center">

<img id="bigImage" class="mt-11 w-60 h-60 md:w-80 md:h-80 lg:w-96 lg:h-96 rounded-tr-[5rem]" src={myData.image} alt="">
<div class="flex flex-row gap-4 md:gap-12 lg:gap-16 mt-4">
<img class="h-28 w-28 md:h-32 md:w-32 lg:h-40 lg:w-40 opacity-50 curser-pointer" src={myData.image} alt="" onclick="changeImage(this)">
<img class="h-28 w-28 md:h-32 md:w-32 lg:h-40 lg:w-40 opacity-50 curser-pointer" src={myData.image1} alt="" onclick="changeImage(this)">
</div>
</article>
</div>
<div class="md:mr-20 lg:mr-44">

<h3 class=" mt-11 font-bold font-mont text-[20px] ">{myData.price} <span>DKK</span></h3>

<p class="leading-7 font-mont text-[13px] mt-4">{myData.description}</p>

<section class="flex flex-row justify-between mt-5">
<form class="border-2 grid grid-cols-[1fr_3px_1fr_3px_1fr] border-brown-500" name="f1">
  <input class="mx-3" type='button' name='subtract' onclick='javascript: subtractQty();' value='-' />
  <div class="bg-brown-500 w-[3px]"></div>
  <p name='qty' id='qty' class="justify-center items-center flex">1</p>
  <div class="bg-brown-500 w-[3px]"></div>
  <input class="mx-3" type='button' name='add' onclick='javascript: document.getElementById("qty").innerHTML++;' value='+' />

</form>

<button>hej</button>
</section>


<h3 class="font-bold flex font-mont text-[20px] mt-11">Details</h3>
<div class="Flex flex-col justify-center items-center font-mont mt-3 " >



  <p class="font-semibold font-mont ">Washing instructions</p>
   <p class="leading-7 font-mont text-[13px] mt-2">{myData.vaskeanvisning}</p> 
   <p class="font-semibold font-mont mt-5">Size</p>
  <p class=" leading-7 font-mont text-[13px] mt-2">{myData.size}</p>
  <p class="font-semibold font-mont mt-5">Material</p>
<p class="leading-7 font-mont text-[13px] mt-2">{myData.materiale}</p>
</div>
</div>

</div>






</section>
<script client:load>
  function changeImage(smallImg) {
    const bigImage = document.getElementById('bigImage');
    bigImage.src = smallImg.src; // Set the large image's src to the clicked image's src
  }



  function subtractQty() {
  if (document.getElementById("qty").innerHTML - 1 < 0)
    return;
  else
    document.getElementById("qty").innerHTML--;
}
</script>

</MainLayout>

