---

import MainLayout from '../../layouts/MainLayout.astro';




export async function getStaticPaths() {
  const data = await fetch("https://innnjxyaqyjceucizpxl.supabase.co/rest/v1/products", {
    method:"GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlubm5qeHlhcXlqY2V1Y2l6cHhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzI1MzM3NDQsImV4cCI6MjA0ODEwOTc0NH0.j0GJ0nKDs09Qd39B_PxaBwDX69ZrOxYTNXPoTfzAWbI"
    },
}).then(response => response.json());

  return data.map((product) => {
    return {
      params: { slug: product.slug },
      props: { myData:product },
    };
  });
}

const {myData} = Astro.props;
console.log(myData);

---

<MainLayout title={myData.name}>
  <section class="mx-12">
  <article class="grid grid-cols-1 justify-items-center">
  <h1 class="text-blue-500 font-mont font-medium text-[40px] flex">{myData.name}</h1>

<img class="mt-11 w-60 h-60 rounded-tr-[5rem]" src={myData.image} alt="">
<div class="flex flex-row gap-4">
<img class="h-28 w-28 opacity-50 " src={myData.image} alt="">
<img class="h-28 w-28 opacity-50 " src={myData.image1} alt="">
</div>
</article>


<h3 class="font-bold font-mont text-[20px]">{myData.price} <span>DKK</span></h3>

<p class="font-mont text-[13px]">{myData.description}</p>
<h3 class="font-bold flex justify-center items-center font-mont text-[20px]">Details</h3>
<div class="Flex flex-col justify-center items-center font-mont" >



  <p class="font-semibold font-mont">Washing instructions</p>
   <p class="font-mont text-[13px]">{myData.vaskeanvisning}</p> 
   <p class="font-semibold font-mont">Size</p>
  <p class="font-mont text-[13px]">{myData.size}</p>
  <p class="font-semibold font-mont">Material</p>
<p class="font-mont text-[13px]">{myData.materiale}</p>
</div>



</section>


</MainLayout>

